<h1>User Accounts:</h1>

<div>
<% if current_user.admin %>
  <ul>	
	<% @users.each do |user| %>
		<li><%= link_to "#{user.name}", user_path(user) %><br>
	<% end %>
  </ul>
<% end %>

<h4><%= link_to "Back to Your Account", user_path(current_user) %></h4>